.navbar-container {
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background-color: blue;
}

.navbar-container > ul {
  display: none;
  align-items: center;

  gap: 1rem;
  list-style: none;

}

@media (min-width: 440px) and (max-width: 575.98px) {
  .navbar-container > ul {
    display: flex;
  }
}