.navbar-container {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: var(--navbar-height);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  background-color: var(--primary-light);
  box-shadow: 0 1px 4px var(--shadow-light);
}

.navbar-container > h1 {
  font-family: var(--inter-black);
}

.navbar-items {
  display: none;
  align-items: center;
  gap: 1rem;
}

.navbar-items > button > a {
  color: var(--primary-dark);
  text-decoration: none;
}

@media (min-width: 440px) {
  .navbar-items {
    display: flex;
  }
}