.admin-container {
  max-width: 100%;
  font-family: var(--inter-regular);
}

.admin-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.admin-table {
  margin-bottom: 2rem;
}

.admin-add-button {
  padding: 0.75rem;
  
  font-family: var(--inter-semibold);
  background-color: var(--green);
  border-radius: 0.5rem;
}

@media (min-width: 1200px) {
  .admin-container {
    width: 80%;
    margin: 0 auto;
  }
}