.admin-container {
  width: 100%;
  font-family: var(--inter-regular);
}

.admin-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.admin-search > span > input, .admin-search > span > span > button {
  background-color: var(--primary-light);
}

.admin-table {
  padding: 0.75rem;
  margin-bottom: 2rem;

  border-radius: 0.5rem;
  box-shadow: 0px 3px 3px var(--shadow-light);
}

.edit-icon {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: var(--blue);
}

.delete-icon {
  font-size: 1rem;
  color: var(--red);
}

.admin-add-button {
  padding: 0.75rem;
  
  font-family: var(--inter-semibold);
  background-color: var(--green);
  border-radius: 0.375rem;

  transition: all 0.3s ease-in-out;
}

.admin-add-button:hover {  
  background-color: var(--green-dark);
}

.admin-table-row-odd {
  background-color: var(--primary-light);
}

.admin-table-row-even {
  background-color: var(--shadow-clearer);
}

@media (min-width: 1200px) {
  .admin-container {
    width: 80%;
    max-width: 65rem;
    margin: 0 auto;
  }
}